# Python Data Analysis and Visualization - Quick guide notes

Here is my notes of learning python data analysis based on astronomical data, so just used if you want to learn more how you can use it in development :)

## 1. Tabular Data

First of all, let's learn how we can work with tabular data and how we can analyse tables - such as Exel or CSV (it's really common way to save some big amount of data).

### 1.1 Install all dependencies and import libratirs

Before we gonna begin, let's **install all dependencies** that we need:

In [2]:
# Run this command to install all libraries for development
%pip install -q pandas numpy seaborn matplotlib

Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import all libraries
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 1.2 Time to explore dataset

All data files which we are going to read in this notebook are saved inside the `data` folder. Let's read CSV file and create a pandas dataframe and let's see which functions we can use to work with dataframes.

In [7]:
# First, let's read CSV file that we need
star_df = pd.read_csv('data/cleaned_star_data.csv') # It will create a dataframe
star_df.head() # Show first 5 rows of dataframe

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [8]:
# Get 10 random rows from this table dataframe
star_df.sample(10)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
213,22012,6748.0000,6.6400,-2.550,3,Blue-White,B
46,3575,123000.0000,45.0000,-6.780,4,Red,M
104,11096,112000.0000,12.0000,-5.910,4,Blue,O
161,11567,251000.0000,36.0000,-6.245,4,Blue,O
100,33300,240000.0000,12.0000,-6.500,4,Blue,B
153,16390,1278.0000,5.6800,-3.320,3,Blue-White,B
15,3340,0.0038,0.2400,13.070,1,Red,M
11,3129,0.0122,0.3761,11.790,1,Red,M
78,2621,0.0006,0.0980,12.810,1,Red,M
48,3625,184000.0000,84.0000,-6.740,4,Red,M

In [9]:
# Get general information from the dataframe
star_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    int64
 5   Star color              240 non-null    object
 6   Spectral Class          240 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB

### 1.3 Save visualizations

In [10]:
# Create directory for visualizations
folder_name = 'star_plots'
os.makedirs(folder_name, exist_ok=True)

In [ ]:
base_dir = f'{folder_name}/'

### 1.4 Visualize the count of stars for each type